[Desktop Entry]
Name=clin
Comment=Feature-packed terminal note management app
Exec=clin
Icon=clin
Terminal=true
Type=Application
Categories=Utility;TextEditor;ConsoleOnly;
